*{
    margin: 0;
    padding: 0;
}




body{
background-color: #8B4513;
color :black;
margin : 0px;
margin-bottom: 100px
}

header{
    border-bottom: solid 2px #DCDCDC;
    margin: 20px;
    font-size: 32px;
    color: black;
}


.capa{
    color: black;
    font-size: 20px
}

#moto{
    display: flex;
    padding-left: 200px
}

.videos{

    display: flex;
    overflow: auto;
    gap: 10px;
}

